---
import InputField from "./InputField.astro";
import SocialMidiaLinks from "./SocialMidiaLinks.astro";

export const prerender = false;
---

<div class="contactForm py-8 md:py-12" id="contact">
	<div class="container px-4 2xl:px-0">
		<section>

			<div class="contactForm__introduction">
				<h3 class="custom__title text-primary inline-block mb-4">
					Fale conosco
				</h3>

				<div class="contactForm__socialText">

					<p class="contactForm__title text-primary my-4 md:my-10">
						Entre em contato <span>conosco</span>
					</p>

					<SocialMidiaLinks />					
				</div>

			</div>

			<div class="contactForm__formContent py-8">	
				<form name="frmContact" method="post">
					<div class="contactForm__inputWrap py-4">
						<InputField label="Seu nome" type="text" name="name" id="inpt_name" required />
						<InputField label="Endereço de e-mail" name="email" type="email" id="inpt_email" required />
						<InputField label="Telefone (opcional)" name="phone" type="tel" id="inpt_phone" maxlength="18" />
					</div>

					<div class="textArea js-validate py-5">
						<textarea name="message" id="contacMessage" class="textArea__content" required></textarea>				
						<label for="contacMessage" class="txtArea__label">Descreva da melhor forma qual seu objetivo em seu negócio</label>
						<span class="textArea__error">Campo obrigatório</span>
					</div>

					<div class="contactFrom__btnSubmit">
						<button class="btn js-submit bg-secondary text-white p-4 lg:p-8">
							<span class="inline-flex gap-4 items-center">
								Enviar mensagem <i class="icon-arrow-right"></i>
							</span>
						</button>
					</div>

				</form>
			</div>

		</section>

	</div>
</div>


<script>

	import { isEmail } from "../helpers/form";

	const btnSubmit = document.querySelector('.js-submit');	
	let time = 0;

	btnSubmit.addEventListener('click', async (e) => {
		e.preventDefault();

		const contactForm = document.querySelector('form[name="frmContact"]');
		const fields = contactForm.querySelectorAll('[required]');
		let hasError = false;

		for(let field of fields){
			field.closest('.js-validate').classList.remove('is__error');	

			if(field.value.trim() === ""){
				field.closest('.js-validate').classList.add('is__error');
				hasError = true;				
			}

			if(field.type == "email" &&  field.value.trim() !== "" && !isEmail(field.value)) {
				field.closest('.js-validate').classList.add('is__error');
				field.closest('.js-validate').querySelector('.inputField__error').innerHTML = 'E-mail inválido';
				hasError = true;	
			}
		}

		if(!hasError) {
			clearTimeout(time);

			btnSubmit.setAttribute('disabled', true);

			const snackBar = document.querySelector('.snackbar');
			const { name, email, phone, message } = contactForm;

			fetch('https://enx3n0dz7s8ms.x.pipedream.net', {
				method: 'POST',
				headers: {
            	"Content-Type": 'application/json'
            },
				body: JSON.stringify({
					nome: name.value,
					email: email.value,
					phone: phone.value,
					message: message.value
				})
			})
			.then((res) => res.json())
			.then((data) => {
				if(data.success) {
					snackBar.classList.add('snackbar--success', 'show');
					snackBar.querySelector('.snack__message').innerHTML = 'Enviado com sucesso!';					

					time = setTimeout(() => {
						snackBar.classList.remove('snackbar--success', 'show');
					},4000);

					contactForm.reset();
					btnSubmit.removeAttribute("disabled");
				}
			})
			.catch((e) => {
				const err = document.querySelectorAll('.js-validate');

				if(err.length){
					for(let er of err) {
						er.classList.remove('is__error');	
					}					
				}

				contactForm.reset();
				btnSubmit.removeAttribute("disabled");
			});			
		}	
	});

	document.getElementById('inpt_phone').addEventListener('input', function (e) {	
		e.target.value = e.target.value.replace(/\D/g, '');
	});

</script>


<style lang="scss">

	.contactForm__title {
		font-weight: 800;
		font-size: 2rem;
		line-height: 1;

		span {
			display: block;
		}
	}

	.textArea {
		position: relative;	

		&__content {
			width: 100%;
			min-height: 160px;
			border: 0;
			border-bottom: 1px solid #cacaca;
			display: block;
			padding: 10px;
			background-color: transparent;
			line-height: 1.4;
			color: #262E32;

			&:focus {
				outline: none;
				border-color: var(--secondary-color);
			}
			
			~ label {
				position: absolute;
				left: 10px;
				width: 100%;
				top:-35px;
				color: #495861;
				transition: 0.3s;
				letter-spacing: 0.5px;
			}

			&:focus ~ label {
				top: -15px;
				font-size: 0.875rem;
				color: var(--secondary-color);
				transition: 0.3s;
			}
		}

		&__error {
			margin: 4px 0;
			font-size: .75rem;
			color: red;
			opacity: 0;
			visibility: hidden;
		}

		&.is__error {
			.textArea__error{
				opacity: 1;
				visibility: visible;
			}
		}
  	}

	.js-submit {
		&:disabled {
			background: #CCCCCC;
			transition: background .5s;
		}
	}

	.contactForm__socialText {
		position: relative;

		:global(.socialMidia) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			display: flex;
			flex-direction: column;
			gap: 16px;		
			color: #1E2532;
		}

		:global(.socialMidia__item a){
			width: 35px;
			height: 35px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #B7B7B7;
			border-radius: 100%;	
		}
		:global(.socialMidia__icon::before){		
			color: #1E2532;
			font-size: 0.875rem;
		}
	}

	@media(screen(md)) {

		.contactForm {
			&__inputWrap {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 32px;

				:global(.inputField) {
					flex: 1 1 auto;
					margin: 16px 0;
				}
			}
		}
		.textArea {
		
			&__content {
				min-height: 145px;
				~ label {
					font-size: 1.2rem;
					top: -15px;
				}

				&:focus ~ label {
					top: -15px;		
					font-size: 1.2rem;		
				}
			}
		}
	}

	@media (screen(lg)) {
		.contactForm__title {
			font-size: 5rem;
		}

		.contactForm__socialText {

			:global(.socialMidia) {	
				gap: 30px;	
			}

			:global(.socialMidia__item a){
				width: 50px;
				height: 50px;				
			}

			:global(.socialMidia__icon::before){		
				font-size: 1rem;
			}
		}
	}
	
</style>
