---
import { Image } from "astro:assets";
import SocialMidiaLinks from "./SocialMidiaLinks.astro";
---

<footer>

	<div class="footer__content bg-primary pt-8 md:pt-10 pb-6">
		<button class="footer__btnToTop" aria-label="Voltar ao topo"><i class="icon-angle-up"></i> </button>

		<div class="container px-4 2xl:px-0" style="max-width: 460px;">

			<div class="footer__wrap md:pt-12 lg:flex md:justify-between md:gap-14">

				<div class="footer__logoSocial">
					<div class="footer__logo mb-5 md:mb-8">
						<Image src="/images/carbon-footer-logo.svg" alt="Carbon Tech Logo Footer" width="290" height="90">
					</div>

					<div class="footer__address mb-8">
						<p class="footer__ad footer__adStreet text-white mb-5 text-[0.875rem]">
							Rua dos Pinheiros, 498 - Pinheiros
						</p>
						<p class="footer__ad  footer__adPhone text-white mb-5 text-[0.875rem] hidden">
							<a href="https://wa.me/5511955895548" class="text-white" target="_blank" rel="noopener noreferrer">Telefone/Whatsapp: +55 95589-5548</a>
						</p>
						<p class="footer__ad  footer__addEmail text-white mb-5 text-[0.875rem]">
							<a href="mailto:contato@carbontech.digital" class="text-white">Email: contato@carbontech.digital</a>	
						</p>

					</div>

					<div class="footer__socialMidia">
						<SocialMidiaLinks />
					</div>
				</div>

				<div class="footer__menu flex-auto md:pt-4 my-10 md:my-0">
					<div class="footer__menuWrap lg:flex md:gap-8">

						<div class="footer__menuSection md:grow hidden">
							<section>
								<h3 class="footer__title text-white mb-4">
									Educação
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li>
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Social Media Marketing
										</a>
									</li>
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Search Engine Optimization
										</a>
									</li>
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Product Development
										</a>
									</li>
								</ul>
							</section>
						</div>

						<div class="footer__menuSection md:grow hidden">
							<section>
								<h3 class="footer__title text-white mb-4">
									Negócio
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li> 
								</ul>
							</section>
						</div>

						<div class="footer__menuSection md:grow hidden">
							<section>
								<h3 class="footer__title text-white mb-4">
									Developer & IT
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li>
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											SEO
										</a>
									</li>
								</ul>
							</section>
						</div>

						<div class="footer__menuSection md:grow">
							<section>
								<h3 class="footer__title text-white mb-4">
									Empresa
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="#team" class="footer__link text-[0.875rem]">
											Sobre
										</a>
									</li>

									<li class="footer__menuItem hidden">
										<a href="" class="footer__link text-[0.875rem]">
											Contate-nos
										</a>
									</li>

									<li class="footer__menuItem hidden">
										<a href="" class="footer__link text-[0.875rem]">
											Carreira
										</a>
									</li>
								</ul>
							</section>
						</div>						
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="footer__copy bg-codGray py-8 md:py-10">
		<div class="container px-4 2xl:px-0">
			<div class="text-center">
				<p class="footer__copyText text-white text-[0.875rem]">
					© Copyright <strong>CARBON TECH</strong> Todos os direitos reservados
				</p>
			</div>
		</div>

	</div>

</footer>

<script>

	const btnScroll = document.querySelector('.footer__btnToTop');

	btnScroll.addEventListener('click', () => {
		console.log('tesdf');
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	});
</script>


<style lang="scss">

	.footer__content {
		position: relative;
	}

	.footer__btnToTop {
		position: absolute;
		top: -25px;
		left: 50%;
		transform: translateX(-50%);
		width: 50px;
		height: 50px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background-color: #FFFFFF;
		border: 8px solid var(--primary-color);
		border-radius: 100%;

		i::before {
			font-size: 1.8rem;
			color: var(--secondary-color);
		}
	} 

	.footer__title {
		font-weight: 800;
	}

	.footer__menuItems {
		margin: 20px 0;
	}

	.footer__menuItem {
		line-height: 2;
	}

	.footer__link {
		color: #CCCCCC;
		font-size: .875rem;
	}

	.footer__copyText {
		font-weight: 400;

		strong {
			font-weight: 600;
		}
	}

	.footer__socialMidia {
		:global(.socialMidia) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 32px;
			margin: 16px 0;					
		}	
		
		:global(.socialMidia__icon) {
			color: #FFFFFF;
			font-size: 1.2rem;
		}
	}


	@media(screen(md)) {

		.footer__logo {
			max-width: 290px;
		}

		.footer__menu {
			max-width: 920px;
		}

		.footer__btnToTop {
			top: -50px;
			width: 100px;
			height: 100px;	
			i {
				position: relative;
				top: -4px;
				&::before {
					font-size: 3.5rem;
				}			
			}
		} 

		.footer__socialMidia {
			:global(.socialMidia) {
				justify-content: center;									
			}	
		}
	}
	
</style>
