<footer>

	<div class="footer__content bg-primary pt-8 md:pt-10 pb-6">
		<span class="footer__btnToTop"></span>

		<div class="container px-4 2xl:px-0">

			<div class="footer__wrap lg:flex md:justify-between">

				<div class="footer__logoSocial">
					<div class="footer__logo mb-5 md:mb-8">
						<img src="/carbon-footer-logo.svg" alt="Carbon Tech Logo Footer">
					</div>

					<div class="footer__address">
						<p class="footer__ad footer__adStreet text-white mb-4 text-[0.875rem]">
							Rua dos Pinheiros, 498 - Pinheiros
						</p>
						<p class="footer__ad  footer__adPhone text-white mb-4 text-[0.875rem]">
							Telefone/Whatsapp: +55 95589-5548
						</p>
						<p class="footer__ad  footer__addEmail text-white mb-4 text-[0.875rem]">
							Email: contato@carbontech.com.br
						</p>

					</div>

					<div class="footer__socialMidia">
						<ul class="socialMidia">
							<li class="socialMidia__item">
								<a href="" title="Facebook" target="_blank" rel="noopener noreferrer">
									<i class="socialMidia__icon"></i>
								</a>

							</li>
							<li class="socialMidia__item">
								<a href="" title="Facebook" target="_blank" rel="noopener noreferrer">
									<i class="socialMidia__icon"></i>
								</a>

							</li>
							<li class="socialMidia__item">
								<a href="" title="Facebook" target="_blank" rel="noopener noreferrer">
									<i class="socialMidia__icon"></i>
								</a>

							</li>
							<li class="socialMidia__item">
								<a href="" title="Facebook" target="_blank" rel="noopener noreferrer">
									<i class="socialMidia__icon"></i>
								</a>

							</li>
						</ul>

					</div>
				</div>

				<div class="footer__menu flex-auto md:pt-4">
					<div class="footer__menuWrap lg:flex items-center">

						<div class="footer__menuSection md:grow">
							<section>
								<h3 class="footer__title text-white mb-4">
									Education
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li>
								</ul>
							</section>
						</div>

						<div class="footer__menuSection md:grow">
							<section>
								<h3 class="footer__title text-white mb-4">
									Business
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li>
								</ul>
							</section>
						</div>

						<div class="footer__menuSection md:grow">
							<section>
								<h3 class="footer__title text-white mb-4">
									Developer & IT
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li>
								</ul>
							</section>
						</div>

						<div class="footer__menuSection md:grow">
							<section>
								<h3 class="footer__title text-white mb-4">
									Company
								</h3>

								<ul class="footer__menuItems">
									<li class="footer__menuItem">
										<a href="" class="footer__link text-[0.875rem]">
											Email Marketing
										</a>
									</li>
								</ul>
							</section>
						</div>						
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="footer__copy bg-codGray py-8 md:py-10">
		<div class="container px-4 2xl:px-0">
			<div class="text-center">
				<p class="footer__copyText text-white text-[0.875rem]">
					© Copyright <strong>Carbon Tech</strong> Todos os direitos reservados
				</p>
			</div>
		</div>

	</div>

</footer>


<style lang="scss">

	.footer__title {
		font-weight: 800;
	}

	.footer__menuItems {
		margin: 20px 0;
	}

	.footer__link {
		color: #CCCCCC;
		font-size: .875rem;
	}

	.footer__copyText {
		font-weight: 400;

		strong {
			font-weight: 600;
		}
	}


	@media(screen(md)) {

		.footer__logo {
			max-width: 290px;
		}

		.footer__menu {
			max-width: 920px;
		}

	}
	
</style>
