---
import { languages } from '@/i18n/ui';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="header__langButton md:flex md:gap-4 md:flex-wrap md:items-center">
	<div class="header__language relative">
		<div class="header__language--selected js-change-lang">
			<div class={'cursor-pointer langList__item lang--'+lang}>  <span>{languages[lang]}</span> </div>
		</div>
		<section>
			<nav>
				<ul class="langList">
					<li class={'langList__item lang--en'}>
						<a href="/en">
							<span class="text-primary">{t('lang.us')}	</span>
						</a>
					</li>

					<li class={'langList__item lang--pt'}>
						<a href="/">						
							<span class="text-primary">{t('lang.br')}	</span>
						</a>
					</li>
				</ul>
			</nav>
		</section>
	</div>

	<div class="header__buttonCta">
		<a href="#contact" class="btn header__contactBtn bg-secondary p-2 text-white">
			{t('nav.contact.us')}	
		</a>

	</div>
</div>

<script>

	const btnLang = document.querySelectorAll('.js-change-lang');
	
	btnLang.forEach(btn => btn.addEventListener('click', (el) => {
		const lanList = el.target.closest('.header__langButton').querySelector('.langList');

		if(lanList){
			lanList.classList.toggle('active');
		}

		lanList.addEventListener('mouseleave', (e) => {
			e.target.classList.remove('active');
		});

	}));

</script>

<style lang="scss">

	@keyframes fade {
		from {
			display: none;
			opacity: 0;
			transform: scale(0);
		}
   	to {
			display: block;
			opacity: 1;
			transform: scale(1);
		}
	}
	
	.langList {
		position: absolute;
		background-color: #FFFFFF;
		padding: 8px;
		overflow: hidden;
		display: none;
		transition: transform .3s ease-in-out, opacity .3s ease-in-out;
		z-index: 3;

		&.active {
			display: block;
			animation: fade .4s ease-in-out;;
		}

		.langList__item {
			margin-bottom: 8px;
			a {
				display: block;
				span {
					font-size: 0.875rem;	
				}		
			}
		}
	}
	.langList__item {
		margin-right: 16px;

		span {
			position: relative;
			font-weight: 500;
			display: inline-flex;
			align-items: center;

			&::before {
				content: " ";
				margin: 0 8px;
				border-radius: 8px;
				overflow: hidden;
				width: 28px;
				height: 24px;
				background-image: url('/images/flag-br.png');
				background-size: contain;
				background-repeat: no-repeat;
			}	

			&::after {
				content: "\e900";
				position: relative;
				right: -8px;
				font-family: "icomoon";
				margin-top: 6px;
				font-size: 8px;
				width: 10px;
				height: 10px;
			}	
		}

		&.lang--en {
			span {
				&::before {
					// content: url('/images/flag-us.png');
					background-image: url('/images/flag-us.png');
				}
			}
		}
	}

	.header__contactBtn {
		font-weight: 700;
	}

	@media (screen(md)) {
		.langList {
				margin-top: 20px;
				&::before {
				content: " ";
				position: absolute;
				top: -20px;
				width: 100%;
				height: 20px;
				display: block;
			}
		}
	}
</style>
