---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="header__langButton md:flex md:gap-4 md:flex-wrap md:items-center">
	<div class="header__language relative">
		<div class="header__language--selected">
			<div class={'cursor-pointer langList__item lang--'+lang}>  <span>{languages[lang]}</span> </div>
		</div>
		<section>
			<nav>
				<ul class="langList absolute z-10 bg-white">
					<li class={'langList__item lang--en'}>
						<span class="text-primary">{t('lang.us')}	</span>
					</li>

					<li class={'langList__item lang--pt'}>
						<span class="text-primary">{t('lang.br')}	</span>
					</li>
				</ul>
			</nav>
		</section>
	</div>

	<div class="header__buttonCta">
		<a href="#contact" class="btn header__contactBtn bg-secondary p-2 text-white">
			{t('nav.contact.us')}	
		</a>

	</div>
</div>

<style lang="scss">
	.langList__item {
		margin-right: 16px;

		span {
			position: relative;
			font-weight: 500;
			display: inline-flex;
			align-items: center;

			&::before {
				content: " ";
				margin: 0 8px;
				border-radius: 8px;
				overflow: hidden;
				width: 28px;
				height: 24px;
				background-image: url('/images/flag-br.png');
				background-size: contain;
				background-repeat: no-repeat;
			}	

			&::after {
				content: "\e900";
				position: relative;
				right: -8px;
				font-family: "icomoon";
				margin-top: 6px;
				font-size: 8px;
				width: 10px;
				height: 10px;
			}	
		}

		&.lang--en {
			span {
				&::before {
					// content: url('/images/flag-us.png');
					background-image: url('/images/flag-us.png');
				}
			}
		}
	}

	.header__contactBtn {
		font-weight: 700;
	}
</style>
