---
import { Image } from "astro:assets";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="skill__content bg-alabaster py-12 md:py-16" id="service">

	<div class="container px-4 2xl:px-0">
		<section>

			<div class="skill__textWrap text-center">
				<h3 class="skill__title text-primary text-[1.8rem] md:text-[2.125rem] mb-5">
					{i18n.SKILLS.TITLE}
				</h3>

				<p class="skill__subtitle text-riverBed mb-5">
					{i18n.SKILLS.SHORT_DESCRIPTION}	
				</p>
	
			</div>

			<div class="skill__brandsAnimation my-8">
				<div class="skill__brands autoplay">
					<div class="skill__brandItem">
						<Image src="/images/brand-audi.svg" alt="Audi" width="160" height="60" />
					</div>
					<div class="skill__brandItem">
						<Image src="/images/brand-cacaushow.png" alt="Cacaushow" width="160" height="60" />
					</div>
					<div class="skill__brandItem">
						<Image src="/images/brand-havaianas.svg" alt="Havaianas" width="160" height="60" />
					</div>
					<div class="skill__brandItem">
						<Image src="/images/brand-natura.svg" alt="Natura" width="160" height="60" />
					</div>
					<div class="skill__brandItem">
						<Image src="/images/brand-loreal.svg" alt="L'Oreal" width="160" height="60" />
					</div>
				</div>
			</div>

		</section>

	</div>
</div>

<style lang="scss">

	.skill__title {
		font-weight: 700;
	}

	.skill__brandsAnimation {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: hidden;

		&::before,
		&::after {
			content: " ";	
			position: absolute;
			top: 0;
			width: 40px;
			height: 100%;
			z-index: 2;
		}

		&::before {
			left: 0;
			background: linear-gradient(to right,  rgba(2248,248,248,1) 0%,rgba(248,248,248,0.63) 39%,rgba(248,248,248,0.44) 59%); 
		}

		&::after {
			right: 0;
			background: linear-gradient(to right,  rgba(248,248,248,0.44) 0%,rgba(248,248,248,0.44) 68%,rgba(248,248,248,1) 100%);
		}

		&:hover {
			overflow-x: auto;

			&::before,
			&::after {
				opacity: 0;
			}
			.autoplay {
				animation-name: none;
			}
		}
	}

	.skill__brands {
		flex-shrink: 0;
		display: flex;
		// justify-content: space-around;
		flex-wrap: nowrap;
		align-items: center;
		min-width: 100%;
		gap: 48px;
		&.autoplay {
			animation-name: brandScroll;
			animation-duration: 12s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-delay: -1s;			
		}
	}

	.skill__brandItem {
		img {
			max-width: 165px;
			margin: 0 auto;
		}
	}

	@keyframes brandScroll {
		from {
    		transform: translateX(50vw);
  		}
		to {
			transform: translateX(-50vw);
		}
	}	

	@media(screen(md)) {		

		.skill__brandsAnimation {
			&:hover {
				overflow-x: hidden;
				&::before,
				&::after {
					opacity: 1;
				}
				.autoplay {
					animation-name: brandScroll;
				}
			}
			&::before,
			&::after {		
				width: 150px;	
			}
		}
	}

</style>
