---

---

<ul class="socialMidia">
	<li class="socialMidia__item hidden">
		<a href="https://www.facebook.com/" title="Facebook" target="_blank" rel="noopener noreferrer">
			<i class="socialMidia__icon icon-facebook"></i>
		</a>

	</li>
	<li class="socialMidia__item hidden">
		<a href="https://x.com/" title="Twitter" target="_blank" rel="noopener noreferrer">
			<i class="socialMidia__icon icon-twitter"></i>
		</a>

	</li>
	<li class="socialMidia__item hidden">
		<a href="https://instagram.com/" title="Instagram" target="_blank" rel="noopener noreferrer">
			<i class="socialMidia__icon icon-instagram"></i>
		</a>

	</li>
	<li class="socialMidia__item">
		<a href="https://www.linkedin.com/company/carbon-tech-digital/" title="Linkedin" target="_blank" rel="noopener noreferrer">
			<i class="socialMidia__icon icon-linkedin"></i>
		</a>

	</li>
</ul>

<style lang="scss">
	

	@media (screen(md)) {

		.socialMidia__item {
			&:hover {
				transform: scale(0.95);
				transition: transform .5s;
			}
		}
	}

</style>
