---
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<Head title={title} description={description} />
	</head>
	<body>
		<Header />
		<slot />		
		<Footer />

		<div class="snackbar">
			<div class="snack__icon"></div>
			<div class="snack__message"></div>
			<div class="snack__close"></div>
		</div>
		
	</body>
</html>

<script>

	const sections =  document.querySelectorAll('a[href*="#"]');

	sections.forEach(function(e){

		e.addEventListener('click', () => {

			const btnMenu = document.querySelector('.btnMenu.active');
			const mobileMenu = document.querySelector('.header__contentMenu.active');

			if(btnMenu) {
				btnMenu.classList.remove('active');
				mobileMenu.classList.remove('active');
			}
		});
	});	

	const snackBar = document.querySelector('.snackbar');
	const snackClose = document.querySelector('.snack__close');

	snackClose.addEventListener('click', () => {
		snackBar.classList.remove('snackbar--success', 'snackbar--error','show');
	});

</script>

<style lang="scss" is:global>
	@import '@/styles/global.scss';
	
</style>
